:root {
  --black: #222222;
  --white: #f8f8f8;
}

@font-face {
  font-family: "primary";
  src: url("assets/fonts/FTSystemTrial-BlankRegular.otf");
}

* {
  box-sizing: border-box;
}
body {
  font-family: primary, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--black);
}
a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}
.heading {
  font-size: 102px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.rocket {
  display: block;
  position: absolute;
  left: -80px;
  top: 40px;
  font-size: 120px;
}

.last-updated {
  text-align: center;
  font-size: 1vw;
  text-transform: uppercase;
  line-height: 0;
}

table {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 48px;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-transform: uppercase;
  margin: 0px;
}

th {
  border-top: 4px solid var(--black);
  border-bottom: 2px solid var(--black);
  padding: 0.5em 0;
  border-collapse: collapse;
}

td {
  padding: 0.5em 0;
  border-bottom: 1px solid var(--black);
  border-collapse: collapse;
}

footer {
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2em 0;
  background: var(--white);
}
