:root {
  --black: #222222;
  --white: #f8f8f8;
}

@font-face {
  font-family: "primary";
  src: url("assets/fonts/FTSystemTrial-BlankRegular.otf");
}

body {
  font-family: primary, sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}
.heading {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 0;
  text-align: center;
  position: relative;
}

.rocket {
  display: block;
  position: absolute;
  left: -8%;
  top: 40px;
  font-size: 120px;
}

.last-updated {
  text-align: center;
  font-size: 1vw;
  text-transform: uppercase;
  line-height: 0;
}

table {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 48px;
}

th {
  text-transform: uppercase;
}

thead {
  border: 1px solid var(--black);
}
th {
  border-top: 4px solid var(--black);
  border-bottom: 2px solid var(--black);
  /* border-collapse: collapse; */
  padding: 0.5em 0;
}

td {
  padding: 0.5em 0;
}
